@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/georgia.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Georgia';
  font-style: italic;
  font-weight: bold;
  src: url('assets/fonts/georgia_bolditalic.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/arialmt.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Arial';
  font-style: italic;
  font-weight: bold;
  src: url('assets/fonts/arial_bolditalicmt.ttf') format('truetype');
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Georgia', 'Arial';
  background: url("./assets/img/noise_lines.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

/* HEADER START */

.header {
  width: 100%;
}

.container-header {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2.5%;
  padding-left: 3%;
  padding-right: 3%;
}

.logo-link {
  text-decoration: none;
  transition: all 0.5s;
}

.logo-link:hover {
  filter: brightness(120%);
}

.logo-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.logo-subtitle {
  padding-top: 5%;
  padding-left: 3.6%;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.list-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

.list-item:not(:last-child) {
  margin-right: 2.6em;
}

.list-item-link {
  text-decoration: none;
  color: #CDCDCD;
  transition: all 0.5s;
}

.list-item-link:hover {
  color: #FAFAFA;
}

.list-item-link:focus {
  color: #FAFAFA;
  text-decoration: underline;
  text-decoration-color: #F1CDB3;
  text-decoration-thickness: 3px;
  text-underline-offset: 20%;
}

/* NOT-ONLY */

.container-not-only {
  max-width: 1280px;
  height: 51em;
  margin: 0 auto;
  padding-top: 2.5%;
  padding-left: 3%;
  padding-right: 3%;
  background-image: url(./assets/img/not-only-pic.png);
  background-repeat: no-repeat;
  background-position: right 40px top 100%;
}

.content-not-only {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 18.5%;
  margin-right: 61%;
}

.main-title {
  margin: 0;
  padding-right: 13%;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
}

.desc {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  margin: 0;
  padding-top: 8.4%;
  padding-left: 1.1%;
}

.button-not-only {
  width: 207px;
  height: 52px;
  border-radius: 100px;
  font-family: 'Georgia';
  margin-top: 9%;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: #F1CDB3;
  cursor: pointer;
  transition: all 0.5s;
}

.button-not-only:hover {
  background: #FDDCC4;
}

/* ABOUT */

.about {
  background: #FFFFFF;
}

.container-about {
  max-width: 1280px;
  height: 30.5em;
  margin: 0 auto;
  padding-top: 2.5%;
  padding-left: 3%;
  padding-right: 3%;
  background-image: url(./assets/img/about-pic.png);
  background-repeat: no-repeat;
  background-position: left 216px top 100%;
}

.content-about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 5.2%;
  margin-left: 49.6%;
}

.about-title {
  margin: 0;
  padding-right: 39%;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.desc-about-1 {
  margin-top: 4%;
  padding-right: 29%;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

.desc-about-2 {
  margin: 1.6% 0 0 0;
  padding-right: 30%;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

/* OUR_FRIENDS */

.our-friends {
  background: #F6F6F6;
}

.our-friends-title {
  margin: 0;
}